.button{
    max-width: 600px;
    background-color: var(--red-900);
    border: 0;
    padding: 0.4rem;
    color: var(--white);
    border-radius: .3rem;
    transition: filter 1s;

    &[disabled]{ 
        cursor: not-allowed;
        svg{ animation: animateButton 2s infinite ; }
        width: 50px;
        margin-left: 10px;
        height: 40px;
    }

    &:hover{
        filter:brightness(1.5)
    }
}

.buttonText{
    color: var(--white);
}

@keyframes animateButton{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}