
.container{
    
    color: blue;
    background-color: #1D1D2E;
}
.containerCenter{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.login{
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form{
        max-width: 60%;
        min-width: 60%;
        display: flex;
        flex-direction: column;
    }
    form input{
        height: 60px;
    }
    form button{
        height: 60px;
        font-size: 1.2rem;
    }
}
.text{
    margin-top: 2rem;
    color: var(--white);
    cursor: pointer;
}

